<div class="center jumbotron" style="background-color: #f0f8ff;">
  <div class="text-center">
    <h1>hoCori</h1>
    <p>日常のちょっとした幸せをみんなにおすそ分けする場所です。
    <br>心が”ほっこり（hoccori）”するようなエピソードや写真を
    <br>たくさんたくさん、お待ちしています。</p>
  </div>
</div>  